html {
    background-color: rgb(197, 214, 224);
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: aliceblue;
    color: rgb(26, 26, 80);
    padding: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    line-height: 1.5rem;
}

li {
    margin: 10px;
}

hr {
    border: 3px solid navy;
}

a, a:visited {
    text-decoration: none;
    color: slateblue;
}

a:hover {
    color: orangered;
}