@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Noto+Serif&display=swap');

:root {
    --primary-color: #13315e;
    --secondary-color: #faf7fc;
    --accent1-color: #92104c;
    --accent2-color: #5863f8;
    --heading-font: 'Manrope', sans-serif;
    --paragraph-font: 'Noto Serif', serif;
}


body {
    font-size: 16px;
    color: #333;
    background-color: #eee;
    max-width: 900px;
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px;
}

#self {
    float: right;
}