body {
    font-size: 16px;
    background-color: #fff;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
}

/* Activity 1 styles */
.content1 {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
}

.red1 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column: 1/3;
}

.green1 {
    width: 200px;
    height: 200px;
    background-color: green;
}

.gold1 {
    width: 200px;
    height: 200px;
    background-color: gold;
}

.blue1 {
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column: 1/3;
}

/* Activity 2 styles */
.content2 {
    width: 600px;
    height: 300px;
}

.red2 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.green2 {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 120px;
    left: 75px;
}

.gold2 {
    width: 100px;
    height: 100px;
    background-color: gold;
    position: absolute;
    top: 170px;
    left: 125px;
}

.blue2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 220px;
    left: 175px;
}

/* Activity 3 styles */
.content3 {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1 1 1;
}

.red3 {
    width: 100%;
    height: 100px;
    background-color: red;
    grid-column: 1/3;
}

.green3 {
    height: 200px;
    background-color: green;
    margin-right: 2rem;
}

.gold3 {
    height: 200px;
    background-color: gold;
    margin-left: 2rem;
}

.blue3 {
    width: 100%;
    height: 100px;
    background-color: blue;
    grid-column: 1/3;
}

/* Activity 4 styles */
.content4 {
    width: 600px;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 100px 100px 100px;
}

.red4 {
    height: 300px;
    background-color: red;
}

.green4 {
    height: 100px;
    background-color: green;
    grid-column: 2/3;
}

.gold4 {
    height: 100px;
    background-color: gold;
    grid-column: 2/3;
}

.blue4 {
    height: 100px;
    background-color: blue;
    grid-column: 2/3;
}

/* Activity 5 styles */
.content5 {
    width: 600px;
}

.red5 {
    width: 100%;
    height: 100px;
    background-color: red;
}

.green5 {
    float: left;
    width: 200px;
    height: 200px;
    background-color: green;
    margin-right: 1em;
    margin-bottom: 1em;
}

.gold5 {
    width: 100%px;
    height: auto;
    background-color: gold;
    padding: 1rem;
}

.blue5 {
    width: 100%;
    height: 100px;
    background-color: blue;
}

/* Activity 6 styles */
.content6 {
    width: 600px;
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(6, 100px);
}

.red6 {
    width: 400px;
    height: 200px;
    background-color: red;
    z-index: -2;
    grid-column: 1/5;
    grid-row: 1/3;
}

.green6 {
    width: 200px;
    height: 200px;
    background-color: green;
    grid-column: 1/3;
    grid-row: 5/7;
}

.gold6 {
    width: 200px;
    height: 400px;
    background-color: gold;
    grid-column: 5/7;
    grid-row: 3/7;
}

.blue6 {
    width: 400px;
    height: 400px;
    background-color: blue;
    z-index: -1;
    grid-column: 2/6;
    grid-row: 2/6;
}