:root {
    --primary-color: #13315e;
    --secondary-color: #faf7fc;
    --accent1-color: #92104c;
    --accent2-color: #232325;
    --heading-font: 'Manrope', Helvetica, sans-serif;
    --paragraph-font: 'Noto Serif', 'Times New Roman', serif;
}

html {
    background-image: linear-gradient(#1e1c2b, #000000);
}

body {
    font-size: 16px;
    margin-top: 0;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: var(--heading-font);
}

header img {
    height: 50px;
    width: auto;
    padding: 5px 12px;
}

nav {
    font-size: 1.1rem;
}

nav>ul {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1em;
    text-decoration: none;
}

nav a:link,
nav a:visited {
    color: var(--secondary-color);
}

nav a:hover {
    color: var(--secondary-color);
    background-color: var(--accent1-color);
    border-radius: .5rem;
}

.active:hover {
    background-color: var(--primary-color);
}

.active {
    opacity: .6;
}

.hero {
    padding: 0px;
}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.banner img {
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.action {
    grid-column: 1;
    grid-row: 2;
    background-color: rgba(240, 240, 240, 0.5);
    text-align: center;
    margin: 15px;
    border-radius: .5rem;
    font-weight: bold;
}

.action button {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    line-height: 2em;
    width: 8em;
    background-color: var(--accent1-color);
    font-size: .75rem;
    border-radius: .5rem;
    border: none;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
    font-weight: normal;
}

main {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding-bottom: 5px;
}

.spotlight {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding: 1.5rem;
}

.spotwrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    padding: 2rem;
}

@media screen and (max-width: 550px) {

    .wrap,
    .spotwrap {
        display: block;
    }
}

.wrap img,
.spotlight img {
    box-shadow: 5px 5px 5px #999;

}

#lower {
    grid-column: 1/3;
}

#blurb {
    grid-column: 2/4;
}

#facts h3 {
    text-align: left;
}

#factlist {
    font-size: .8rem;
    padding: .6rem;
}

a:link,
a:visited {
    color: var(--accent1-color);

}

form {
    padding-left: 2rem;
}

input[type=text] {
    border-radius: .3rem;
    width: 50%;
    padding: .3rem;
    border: 2px solid #ccc;
}

input:focus,
textarea:focus {
    background-color: #e1e9ec;
}

textarea {
    width: 70%;
    height: 100px;
    padding: .3rem;
    border: 2px solid #ccc;
    border-radius: .3rem;
    resize: none;
}

.formbutton {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    line-height: 2em;
    width: 8em;
    background-color: var(--accent1-color);
    font-size: .75rem;
    border-radius: .5rem;
    border: none;
}


footer {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    padding-top: 5px;
}

.contact {
    display: flex;
    justify-content: space-evenly;
}

footer img {
    padding: 5px;
    width: 50px;
    height: auto;
}

.footer {
    color: var(--secondary-color);
    padding: 2px 25px;
}

.tiny {
    font-size: .7rem;
    text-align: center;
    font-family: var(--paragraph-font);
}

.social {
    display: flex;
    justify-content: center;
}