@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Noto+Serif&display=swap');

:root {
    --primary-color: #13315e;
    --secondary-color: #faf7fc;
    --accent1-color: #92104c;
    --accent2-color: #232325;
    --heading-font: Manrope, Helvetica, sans-serif;
    --paragraph-font: 'Noto Serif', 'Times New Roman', serif;
}

html {
    background-image: linear-gradient(#1e1c2b, #000000);
}

body {
    font-size: 16px;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

main {
    background-color: var(--secondary-color);
}

header {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: var(--heading-font);
}

header img {
    height: 50px;
    width: auto;
    padding: 5px 12px;
}

nav {
    font-size: 1.1rem;
}

nav>ul {
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1em;
    text-decoration: none;
}

nav a:link,
nav a:visited {
    color: var(--secondary-color);
}

nav a:hover {
    color: var(--secondary-color);
    background-color: var(--accent1-color);
    border-radius: .5rem;
}

.active:hover {
    background-color: var(--primary-color);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    padding: 2px 15px;
}

main {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    padding-bottom: 5px;
}

main img {
    padding: 5px 25px;
}

.hero {
    padding: 0px;
}

p {
    padding: 2px 25px;
}

a:link,
a:visited {
    color: var(--accent1-color);

}

footer {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    padding-top: 5px;
}

.contact {
    display: flex;
    justify-content: space-evenly;
}

footer img {
    padding: 5px;
    width: 50px;
    height: auto;
}

.footer {
    color: var(--secondary-color);
    padding: 2px 25px;
}

.tiny {
    font-size: .7rem;
    text-align: center;
    font-family: var(--paragraph-font);
}

.social {
    display: flex;
    justify-content: center;
}