:root {
    --dark-color: #2b042e;
    --light-color: #f2f1eb;
    --accent1-color: rgba(149, 217, 175, .5);
    --accent2-color: #ffdb8d;
    --accent3-color: #d0433b;
    --fancy-font: 'Allura', serif;
    --heading-font: 'Libre Baskerville', 'Times New Roman', serif;
    --paragraph-font: 'Quicksand', Helvetica, sans-serif;
}

html {
    background-color: var(--light-color);
}

body {
    font-size: 16px;
    margin: 0;
}

h1 {
    font-family: var(--fancy-font);
    color: var(--accent3-color);
    font-size: 4rem;
    padding: 3rem;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--accent3-color);
}

header img {
    display: block;
}

nav {
    background-color: var(--accent1-color);
    padding: 10px;
    font-family: var(--paragraph-font);
    position: sticky;
    z-index: 2;
    top: 0;
}


nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav a {
    padding: 1.1em 1.5em 1.5em 1.5em;
    text-decoration: none;
    font-size: 1.05rem;
}

nav a:link,
nav a:visited {
    color: var(--accent3-color);
}

nav a:hover {
    color: var(--dark-color);
    background-color: var(--accent2-color);
}

nav a.active {
    color: var(--dark-color);
    background-color: var(--accent2-color);
    font-weight: bold;
}

.logo {
    margin-left: 4em;
    margin-top: 1em;
    border-radius: 20px;
    max-height: 100px;
}

p {
    font-family: var(--paragraph-font);
    color: var(--dark-color);
    padding: 5px 15px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
    padding-top: 3em;
    padding-bottom: 1em;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.hero {
    position: absolute;
    top: 0px;
    z-index: -1;
}

footer {
    margin: 0 auto;
    padding: 1em 3em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.social {
    padding-left: 215px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.social img {
    max-height: 30px;
}

.tiny {
    font-size: .75rem;
    color: var(--secondary-color);
    padding-left: 215px;
}

button {
    border-color: var(--accent1-color);
    border-style: solid;
    border-width: 1.5px;
    font-family: Helvetica, sans-serif;
    background: var(--accent2-color);
    color: var(--accent1-color);
    padding: 5px;
    margin-bottom: 10px;
    font-size: .85rem;
    float: left;
}

.contactButton {
    margin-left: 15px;
    border-radius: 3px 0 0 3px;
}

.ticketButton {
    border-radius: 0 3px 3px 0;
    border-left: 0;
}

.formwrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

form {
    background: white;
    border: 1px solid var(--accent2-color);
    border-radius: 1rem;
    padding-bottom: 2rem;
}

input,
select,
textarea {
    border: 1px solid var(--accent2-color);
    border-radius: .3rem;
    padding: .3rem;
    float: right;
}

.right,
.formbutton {
    float: right;
}

.formbutton {
    margin-right: 20px;
    color: var(--secondary-color);
    background-color: var(--accent1-color);
    border-radius: .3rem;
}

input:focus,
textarea:focus {
    background-color: var(--secondary-color);
}

.form {
    grid-column: 1/2;
}

.patron {
    grid-column: 2/3;
}

.group {
    grid-column: 3/4;
}

#patron {
    margin-left: 18px;
    border-radius: .2rem;
}

.schedwrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .75rem;
}

.schedwrap img {
    width: 150px;
}

.schedwrap p {
    font-size: .75rem;
}
