:root {
    --dark-color: #200523;
    --light-color: #f2f1eb;
    --accent1-color: rgba(149, 217, 175, .5);
    --accent1-alt: rgb(55, 112, 77);
    --accent2-color: rgba(255, 219, 141, .5);
    --accent3-color: #cd452d;
    --fancy-font: 'Allura', serif;
    --heading-font: 'Libre Baskerville', 'Times New Roman', serif;
    --paragraph-font: 'Quicksand', Helvetica, sans-serif;
}

html {
    background-color: var(--light-color);
}

body {
    font-family: var(--paragraph-font);
    color: var(--dark-color);
    font-size: 16px;
    margin: 0;
}

main {
    margin: 0 auto;
    padding: 1em;
}

/*headers*/
h1 {
    font-family: var(--fancy-font);
    color: var(--accent3-color);
    font-size: 2.5rem;
    padding-left: 1rem;
}

h2,
h3,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--dark-color);
    padding: .25rem;
}

h2 {
    font-size: 1.25rem;
}

h4 {
    font-family: var(--heading-font);
    color: var(--accent1-alt);
}

.responsive {
    width: 100%;
    height: auto;
}

/*navigation*/
nav {
    text-align: center;
    background-color: var(--accent1-color);
    backdrop-filter: blur(6px);
    padding: 1rem;
    position: sticky;
    font-family: var(--paragraph-font);
    z-index: 2;
    top: 0;
}

nav a {
    text-decoration: none;
    font-weight: normal;
}

nav a:link,
nav a:visited {
    color: var(--dark-color);
}

nav ul {
    display: flex;
    list-style: none;
    flex-flow: column;
    margin: 0px;
    padding: 1px;
}

nav li {
    padding: 1rem;
}

.navigation {
    list-style: none;
}

.navigation li:first-child {
    display: block;
    font-weight: bold;
}

.navigation li {
    display: none;
}

.toggle li {
    display: block;
}

/*bitty bits*/
a {
    text-decoration: none;
    color: var(--accent1-alt);
    font-weight: bold;
}

p {
    padding: 5px;
}

.portrait {
    max-width: 200px;
    float: left;
    padding-right: 15px;
}

.consistentsize {
    width: 350px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 var(--dark-color);
}


/*for text that needs a little alignment*/
.rightward {
    text-align: right;
}

.review {
    padding: 0 1rem;
    font-style: italic;
    border-left: 2px solid var(--accent1-alt);
}

.reviewname {
    font-family: var(--fancy-font);
    font-size: 1.5rem;
    color: var(--accent1-alt);
}

/*for images who need a little alignment*/
.leftbump {
    margin-left: 1rem;
}

/*for the collapse section*/
.collapsible {
    background-color: var(--light-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: var(--heading-font);
    color: var(--accent1-alt);
}

.activelist,
.collapsible:hover {
    background-color: var(--accent2-color);
}

.collapsible:after {
    content: '     ►';
    color: var(--accent1-alt);
    font-size: 20px;
}

.activelist:after {
    content: "     ▼";
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

/*footer nonsense*/
footer {
    margin: 0 auto;
    padding: .25em 3em;
    background-color: var(--accent2-color);
    color: var(--dark-color);
}

.social {
    float: right;
}

.social img {
    max-height: 30px;
    padding: 0 5px;
}

.tiny {
    font-size: .75rem;
    color: var(--secondary-color);
}

.gallery {
    /* Mobile first */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.gallery .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item img {
    max-width: 400px;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
}

.slider {
    display: none;
}

/*desktop version changes*/
@media (min-width: 940px) {

    /*keep the hero image up top and beneath header items*/
    .hero {
        position: absolute;
        top: 0px;
        z-index: -1;
    }

    .nothome {
        max-height: 300px;
        object-fit: cover;
    }

    nav {
        padding: .75rem;
    }

    nav ul {
        flex-flow: row;
        margin: 0 auto;
        justify-content: flex-end;
        padding-right: 15%;
    }

    nav a {
        padding: 2em;
    }

    nav a:hover {
        background-color: var(--accent2-color);
    }

    nav a.active {
        color: var(--dark-color);
        background-color: var(--accent2-color);
        font-weight: bold;
        text-decoration: underline;
    }

    .navigation li {
        padding: .5rem;
        display: block;
    }

    .navigation li:first-child {
        display: none;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2em;
        padding-top: 4em;
        padding-bottom: 1em;
        display: grid;
        grid-gap: 1rem;
    }

    .leftwide {
        grid-template-columns: 2fr 1fr;
    }

    .threecol {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery li {
        list-style: none;
    }

    h1 {
        font-size: 4rem;
        padding-left: 7rem;
    }

    .social {
        padding-left: 215px;
        width: 20%;
    }

    .tiny {
        padding-left: 215px;
    }

    .tiny a {
        color: var(--dark-color);
    }

    .gallery {
        flex-direction: row;
    }

    .slider {
        display: block;
        width: 100%;
        margin: auto;
        max-width: 800px;
        height: 600px;
        position: relative;
        overflow: hidden; /* <===  */
        border-radius: 15px;
      }
      
      .slide {
        width: 100%;
        max-width: 800px;
        height: 600px;
        position: absolute;
        transition: all 1s;
      }
      
      .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .btn {
        position: absolute;
        color: var(--light-color);
        font-weight: bold;
        width: 40px;
        height: 40px;
        padding: 10px;
        border: none;
        border-radius: 10%;
        z-index: 10px;
        cursor: pointer;
        background-color: var(--accent1-color);
        font-size: 18px;
      }
      .btn:active {
        transform: scale(1.1);
      }
      .btn-prev {
        top: 45%;
        left: 2%;
      }
      
      .btn-next {
        top: 45%;
        right: 2%;
      }
}