:root {
    --dark-color: #2b042e;
    --light-color: #f2f1eb;
    --accent1-color: rgba(149, 217, 175, .5);
    --accent1-alt: rgb(55, 112, 77);
    --accent2-color: rgba(255, 219, 141, .5);
    --accent3-color: #e45b40;
    --fancy-font: 'Allura', serif;
    --heading-font: 'Libre Baskerville', 'Times New Roman', serif;
    --paragraph-font: 'Quicksand', Helvetica, sans-serif;
}



html {
    background-color: var(--light-color);
}

body {
    font-size: 16px;
    margin: 0;
}

main {
    margin: 0 auto;
    padding: 1em;
}

h1 {
    font-family: var(--fancy-font);
    color: var(--accent3-color);
    font-size: 2.5rem;
    padding: 2rem;
}

h2,
h3,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--accent3-color);
}

h2 {
    font-size: 1.25rem;
}

h4 {
    font-family: var(--heading-font);
    color: var(--accent1-alt);
}

header img {
    display: block;
}

nav {
    background-color: var(--accent1-color);
    padding: 2px;
    font-family: var(--paragraph-font);
    position: sticky;
    z-index: 2;
    top: 0;
}


nav>ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav a {
    padding: 1.1em 1.5em 1.5em 1.5em;
    text-decoration: none;
    font-size: 1.05rem;
}

nav a:link,
nav a:visited {
    color: var(--accent3-color);
}

nav a:hover {
    color: var(--dark-color);
    background-color: var(--accent2-color);
    padding: 2em 1.5em;
}

nav a.active {
    color: var(--dark-color);
    background-color: var(--accent2-color);
    font-weight: bold;
    padding: 2em 1.5em;
}

a {
    text-decoration: none;
    color: var(--accent3-color);
}

.rightward {
    text-align: right;
}

.leftbump {
    padding-left: 1rem;
}

.logo {
    margin-left: 4em;
    margin-top: 1em;
    border-radius: 20px;
    max-height: 100px;
}

p,
li {
    font-family: var(--paragraph-font);
    color: var(--dark-color);
    padding: 5px 15px;
}

.hero {
    position: absolute;
    top: 0px;
    z-index: -1;
}

footer {
    margin: 0 auto;
    padding: .25em 3em;
    background-color: var(--accent2-color);
    color: var(--dark-color);
}


.social img {
    max-height: 30px;
    padding: 5px;
}

.tiny {
    font-size: .75rem;
    color: var(--secondary-color);
}

@media (min-width: 940px) {
    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 2em;
        padding-top: 4em;
        padding-bottom: 1em;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;
    }

    h1 {
        font-size: 4rem;
        padding: 3rem;
        padding-left: 7rem;
    }

    .social {
        padding-left: 215px;
        width: 20%;
    }

    .tiny {
        padding-left: 215px;
    }
}