@media only screen and (min-width: 875px) {
  main {
    max-width: 875px;
    margin: auto;
  }

  footer {
    max-width: 900px;
    margin: auto;
  }

  .heading h1 {
    font-size: 3rem;
  }


  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .galleryitem {
    margin-bottom: 5px;
    padding: 5px;
  }

  .galleryitem:hover {
    box-shadow: 0 0 40px #444;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: start;
  }

  .stormButton {
    grid-column: 2 / 3;
    justify-self: right;
  }

  .cities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    grid-gap: 15px;
  }

  .cities section {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      justify-items: center;
  }
}