table {
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
    box-shadow: 10px 10px 15px #628ca6;
    text-align: center;
    margin-top: 20px;
    border-collapse: collapse;
}

thead th,
tfoot td {
    color: black;
    background-color: #7fb9c2;
    padding: 10px;
}

thead th {
    font-size: 1.5rem;
}

tbody {
    color: black;
}

tr {
    background-color: #e7f0ed;
}

tr:nth-child(odd) {
    background: #e7ffed;
}

table,
th,
td {
    border: 1px solid #aaa;
    padding: 10px;
}

th,
.darker {
    background-color: #628ca6;
    color: white;
}

tfoot {
    font-size: 14px;
}