<div class="row">
  <div class="panel panel-default clearfix">
    <div class="panel-heading col-xs-12">
      <h3>{{ contact.name }}</h3>
      <img src="{{ contact.imageUrl }}" alt="{{ contact.name }}" class="img-responsive" style="max-height: 100px"
        class="pull-left">
      <span class="pull-right">
        <button [routerLink]="['edit']" class="btn btn-primary" type="button">Edit</button>
        <button (click)="onDelete()" class="btn btn-danger" type="button">Delete</button>
      </span>
    </div>
    <div class="panel-body col-xs-12">
      <p><span style="font-weight: bold;">Email:</span> {{ contact.email }}</p>
      <p><span style="font-weight: bold;">Phone:</span> {{ contact.phone }}</p>
    </div>
    <div class="panel-body">
      <div *ngFor="let contact of contact.group; let i = index">
        <cms-contact-item class="col-sm-11" [contact]="contact"></cms-contact-item>
      </div>
    </div>
  </div>
</div>
