@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

html {
    background-color: black;
}

body {
    width: 900px;
    margin: 0 auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    align-items: center;
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
    border-left: solid 5px rgb(124, 69, 226);
    border-right: solid 5px rgb(124, 69, 226);
}

.reward {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(251, 255, 218);
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}

#quote {
    font-size: 1.5rem;
}

#author {
    justify-self: end;
    font-size: .75rem;
    font-style: italic;
    padding: 1rem;
}

.score, #reset-button {
    font-size: 1.5rem;
}

.score {
    padding: 0 3rem;
    margin: -2rem auto;
}

#reset-button {
    margin: .5rem auto;
    width: 550px;
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

#reset-button:hover {
    background-color: rgb(241, 190, 50);
    color: black;
    
}

h1 {
    text-align: center;
}

.board {
    height: 550px;
    width: 550px;
    margin: 0 auto;
}

.board .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    height: 100%;
}

.square {
    border: 2px solid #F7F7F7;
    height: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
}

.square:hover {
    border: 2px solid rgb(241, 190, 50);
    opacity: .8;
}

.card {
    height: 200%;
    width: 100%;
    position: absolute;
    top: 0;
    transition: 0ms;
}

.flipup,
.flipdown {
    height: 50%;
}

.flipdown {
    background-image: url("yaho.png");
    background-color: #0a0101;
    height: 135px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flipped .card {
    top: -101%;
}

.color0 {
    /* background-color: rgb(167, 19, 19); */
    background-color: rgb(57, 63, 35);
}

.color1 {
    /* background-color: rgb(243, 141, 16); */
    background-color: rgb(57, 63, 35);
}

.color2 {
    /* background-color: rgb(217, 230, 36); */
    background-color: rgb(57, 63, 35);
}

.color3 {
    /* background-color: rgb(53, 177, 28); */
    background-color: rgb(57, 63, 35);
}

.color4 {
    /* background-color: rgb(29, 104, 175); */
    background-color: rgb(57, 63, 35);
}

.color5 {
    /* background-color: rgb(149, 20, 224); */
    background-color: rgb(57, 63, 35);
}

.color6 {
    /* background-color: rgb(231, 59, 180); */
    background-color: rgb(57, 63, 35);
}

.color7 {
    /* background-color: rgb(34, 194, 194); */
    background-color: rgb(57, 63, 35);
}

