@media only screen and (min-width: 975px) {

  body {
    max-width: 1920px;
  }

  main {
    max-width: 1150px;
    margin: auto;
  }

  footer {
    max-width: 1150px;
    margin: auto;
  }

  h1 {
    font-size: 3rem;
  }

  .ads {
    grid-row: 1/4;
    grid-column-start: 2;
  }

  .contact {
    display: block;
    text-align: center;
    grid-column-start: 2;
  }

  .social {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: start;
  }
}