@media only screen and (min-width: 1190px) {

  body {
    max-width: 1920px;
  }

  main {
    max-width: 1150px;
  }

  footer {
    max-width: 1150px;
    margin: auto;
    margin-top: 30px;
  }

  h1 {
    font-size: 3rem;
  }

  .homepage {
    grid-template-columns: 1fr 300px;
  }

  .info {
    grid-row: 1/1;
  }

  .ads {
    display: block;
    grid-row: 1/3;
    grid-column-start: 2;
  }

  .contact {
    display: block;
    text-align: center;
    grid-column-start: 2;
    grid-row: 3/4;
  }

  .social {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }

  .weather {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .subweather {
    display: flex;
    justify-content: center;
  }

  .forecast {
    grid-row-start: 2;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: start;
  }

  hr {
    color: var(--accent3-color);
    height: 3px;
    background-color: var(--accent3-color);
    display: block;
  }
}