@media only screen and (min-width: 900px) {
  nav ul {
    flex-flow: row;
    max-width: 900px;
    margin: 0 auto;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    border-radius: .75rem;
  }

  .navigation {
    display: flex;
  }

  .navigation li {
    display: block;
  }

  .navigation li:first-child {
    display: none;
  }

  nav ul a:link,
  nav ul a:visited {
    text-align: center;
  }

  .herow {
    position: relative;
  }

  .action {
    position: absolute;
    bottom: 20px;
    right: 25px;
    padding: 1.5rem;
    border-radius: 1.75rem;
  }

  main {
    padding: 1rem;
  }

  .homepage {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-gap: 30px;
  }

  .maintwo {
    display: grid;
    grid-template-columns: 50% 45%;
    grid-gap: 30px;
  }

  .maintwo .rightform {
    grid-row: 1/3;
    grid-column-start: 2;
  }

  .maintwo .leftform {
    grid-row: 1/3;
  }

  .maintwo .directors {
    grid-column: 1/3;
  }

  .info {
    grid-column-start: 1;
    grid-row: 1/3;
  }

  .ads {
    grid-column: 1/3;
    grid-row-start: 3;
    display: flex;
    flex-flow: nowrap;
    grid-gap: 10px;
    padding: 10px;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
  }

  .weather {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .subweather {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 0;
    row-gap: 10px;
    max-width: 350px;
  }

  .summary {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    max-width: 150px;
    padding: 1rem;
    padding-left: 0;
  }

  #currenticon {
    display: inline;
  }

  .additional {
    align-self: center;
    background-color: var(--accent3-color);
    padding: 3.5rem;
  }

  .xxx {
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  .contact {
    grid-row-start: 4;
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
  }

  .map {
    display: block;
  }

  .directory {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .changebutton button {
    display: inline;
  }
}